
#sscontainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#solcontainer {
    position: absolute;
    top: 50vh;
    transform: translate(-92%, -50%);
}

#sol { /* TODO: make these responsive dimensions */
    width: calc(100vw * 1.57);
    height: calc(100vw * 1.57);
}