
#sscontainer {
    min-width: 1920px;
    max-width: 100vw;
    min-height: 1080px;
    max-height: 100vh;
}

#sol { /* TODO: make these responsive dimensions */
    width: 3027px;
    height: 3027px;
    translate: -2882px -973px;
}