
#sscontainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#solcontainer {
    position: absolute;
    top: 50vh;
    /* left: -100vw; */
    transform: translate(-90%, -50%);
}

#sol {
    width: calc(100vw * 1.5765);
    height: calc(100vw * 1.5765);
}

#mercuriuscontainer {
    position: absolute;
    top: 50vh;
    left: 15vw;
    transform: translate(-0vw, -50%);
}

#mercurius {
    width: calc(100vw * 0.0052);
    height: calc(100vw * 0.0052);
}