@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* Default for small mobile screens */

body {
    font-family: 'Nunito', 'sans-serif';
    font-weight: 500;
    color: #ffffff;
    background-color: #121212;
    
    margin: 0;
}

p {
    margin: .15em 0px
}

img {
    max-width: 100%;
    display: block;
}


#navbar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    height: 100px;
    padding-left: 10vw;
    background: -webkit-linear-gradient(#0a0a0a, #0a0a0a00);
}

#content {
    padding-left: 10vw;
    padding-top: 10vh;
    justify-content: center;
}

#underscore {
    position: relative;
    top: -0.04em;
    left: 0.1em;
}


.narrow {
    font-weight: 300;
}
.bold {
    font-weight: 700;
}

.small-font {
    font-size: 4vw;
}
.medium-font {
    font-size: 8vw;
}
.big-font {
    font-size: 16vw;
}

.center {
    align-content: center;
}

.highlight {
    background: -webkit-linear-gradient(90deg, #AE8625, #F7EF8A 45%, #D2AC47 80%, #EDC967);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.paragraph-1 {
    font-size: 4vw;
    color: #cccccc;
    max-width: 80%;
}

/* Card ratio: 0.6 */
.small-card {
    width: 50px;
    height: 84px;
}
.medium-card {
    width: 150px;
    height: 250px;
}
.big-card {
    width: 250px;
    height: 417px;
}

.card {
    border-radius: 20px;
    background-image:#ff404d;
    background-image:  
    radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0, transparent 50%),  
    radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0, transparent 50%),  
    radial-gradient(at 0% 50%, hsla(355,85%,93%,1) 0, transparent 50%),  
    radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0, transparent 50%),  
    radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0, transparent 50%),  
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0, transparent 50%),  
    radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0, transparent 50%);;
}

/* Large screens */
@media only screen and (min-width: 786px) {
    .small {
        font-size: 3vw;
    }
    .regular {
        font-size: 4vw;
    }
    .big {
        font-size: 8vw;
    }   
    
    .paragraph-1 {
        font-size: 2vw;
        color: #cccccc;
        max-width: 40%;
    }
}
