@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Nunito', 'sans-serif';
    font-weight: 500;
    color: #ffffff;
    background-color: #121212;

    margin: 0;
}

.narrow {
    font-weight: 300;
}
.bold {
    font-weight: 700;
}

.small {
    font-size: 2vw;
}
.regular {
    font-size: 4vw;
}
.big {
    font-size: 8vw;
}

#content {
    margin-left: 10vw;
    justify-content: center;
}

.center {
    align-content: center;
}

.highlight {
    background: -webkit-linear-gradient(45deg, #AE8625, #F7EF8A 45%, #D2AC47 80%, #EDC967);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
